<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objects</key>
	<array>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>name</key>
			<string>Cognac</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Hennessy</string>
					<key>Objects</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Juices</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>Objects</key>
					<array/>
					<key>name</key>
					<string>Cranberry Juice</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Objects</key>
					<array/>
					<key>name</key>
					<string>Pineapple Juice</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>name</key>
			<string>Liqueurs</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>99 Apples</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>99 Blackberries</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>99 Oranges</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>99 Peaches</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>99 Whipped Cream</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Amaaretto</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Arrow Peppermint</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Godiva</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Southern Comfort</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Triple Sec</string>
					<key>Objects</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>name</key>
			<string>Rum</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Objects</key>
					<array/>
					<key>level</key>
					<string>1</string>
					<key>name</key>
					<string>Captain Morgan</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Coconut Rum</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>Objects</key>
					<array/>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Rum</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>name</key>
			<string>Tequila</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Objects</key>
					<array/>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>1800</string>
				</dict>
				<dict>
					<key>Objects</key>
					<array/>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Don Julio</string>
				</dict>
				<dict>
					<key>Objects</key>
					<array/>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Jose Cuervo</string>
				</dict>
				<dict>
					<key>Objects</key>
					<array/>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Patron</string>
				</dict>
				<dict>
					<key>Objects</key>
					<array/>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Tequila</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Vodka</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>360 Vodka</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Absolut Vodka</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Aristocrat 100</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Aristocrat Vodka</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Belvedere Vodka</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Black Lab Vodka</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Cupcake Vodka</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Grey Goose Vodka</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>Objects</key>
					<array/>
					<key>name</key>
					<string>Skyy Vodka</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Smirnoff Silver</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Stolichnaya</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Three Olvies Vodka</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>UV Vodka</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>Objects</key>
					<array/>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Vodka</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>name</key>
			<string>Whiskey</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Evan Williams</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Firefly Sweet Tea Bourbon</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Jim Beam</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Maker&apos;s Mark</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Wild Turkey</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Jack Daniel&apos;s&apos;</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Jonnie Walker</string>
					<key>Objects</key>
					<array/>
				</dict>
				<dict>
					<key>Objects</key>
					<array/>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Whiskey</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
